h1, h2
{
    text-align: center;
}

h1
{
    margin:0;
    padding:10;
    color: pink;
}

h1:hover
{
    color:blue;
}

.container
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:space-evenly;
}

div.container > a
{
    width:20%;
    height:20%;
    background:white;
}

canvas
{
    position:absolute;
    z-index:-1;
}